<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/814a0fdb0b.js"
      crossorigin="anonymous"
    ></script>
    <title>Event Details</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="flex space-between">
          <div>
            <a href="/" class="brand">EventMGM</a>
          </div>
          <div class="right-nav">
            <a href="/events" class="events">Events</a>
            <a href="/events/<%=e.id%>/" class="details">EventDetails</a>
          </div>
        </nav>
      </div>
    </header>
    <main class="container">
      <h1 class="eventDetail">Details about the event</h1>
      <div>
        <div>
          <h4>
            <a href="/category/<%=e.category%>" class="h6"> <%=e.category%> </a>
          </h4>
          <h3>
            <%=e.title%> <span>hosted by <%=e.host%></span>
            <a href="/location/<%=e.locationId%>" class="location">
              at <%=e.location%></a
            >
          </h3>
          <p><%=e.summary%></p>
          <div class="allBtn">
            <div class="update">
              <a href="/events/<%=e.id%>/edit" class="edit">edit</a>
              <a href="/events/<%=e.id%>/delete" class="delete">delete</a>
            </div>
            <div class="follower">
              <div>
                <a href="/events/<%=e.id%>/likes" class="likes">Likes</a>
                <span class="lik"><%=e.likes%></span>
              </div>
              <div class="dislikes-sec">
                <a href="/events/<%=e.id%>/dislikes" class="dislikes"
                  >DisLikes</a
                >
                <span class="lik"><%=e.dislikes%></span>
              </div>
            </div>
          </div>
          <div class="remarks">
            <form action="/events/<%=e.id%>/remarks" method="POST">
              <textarea
                name="title"
                id=""
                cols="30"
                rows="2"
                placeholder="Add Remarks"
              ></textarea>
              <input
                type="text"
                name="author"
                id=""
                placeholder="Enter your name"
                class="author-name"
              />
              <input
                type="submit"
                name=""
                id=""
                value="Add"
                class="addRemarks"
              />
            </form>
          </div>
          <div class="comments">
            <%e.remarks.forEach(re=>{%>
            <div>
              <p><%=re.title%></p>
              <div class="allBtn">
                <div class="update">
                  <a href="/remarks/<%=re.id%>/edit" class="edit">edit</a>
                  <a href="/remarks/<%=re.id%>/delete" class="delete">delete</a>
                </div>
                <div class="follower">
                  <div>
                    <a href="/remarks/<%=re.id%>/likes" class="likes">Likes</a>
                    <span><%=re.likes%></span>
                  </div>
                  <div class="dislikes-sec">
                    <a href="/remarks/<%=re.id%>/dislikes" class="dislikes"
                      >DisLikes</a
                    >
                    <span><%=re.dislikes%></span>
                  </div>
                </div>
              </div>
            </div>
            <%})%>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <nav class="footer-nav">
          <small>Events&copy;All Rights reserved pvt. ltd.</small>
        </nav>
        <div class="flex center">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
